*{
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif; 
}
.logo{
	width: 200px;
	height: 75px;
}
.contenedor{
	width: 100%;
	margin: auto;
}

/*-----HEADER-----*/
.header {
	height: 70px;
	background:#000;
}
.header .contenedor {
	display: flex;
	justify-content: space-between;
}
.logo {
	color: #fff;
}
.icon-menu {
	display:block;
	width: 50px;
	height: 50px;
	font-size: 3px;
	background: #333;
	color: #fff;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	margin-top: 10px;
	cursor: pointer;
}
.nav {
	position: absolute;
	top: 70px;
	left: -100%;
	width: 100%;
	transition: all 0.5s;
	z-index: 100;
}
.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 60px; 
}
.menu__link {
	display: block;
	padding: 25px;
	background: #000;
	text-decoration: none;
	color: #fff; 
	height: 70px;
	border-bottom: 1px solid #fff;
}
.menu__link:hover {
  background: white;
  color: #000;   
}
.muestrate{
 	left: 0;
}

/*-----BANNER-----*/
.banner img{
	width: 100%;
}
.banner {
	position: relative;
		
}
.banner .contenedor{
	position: absolute;
   top:50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   width: 100%;
   color: #000;
   text-align: center;
}

/*----- PROMOCIONES ------*/
.prom_title{
	font-family: 'Abril Fatface', cursive;
	background-color: #6ea56d;
	background-color: #d195cc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%232326d5' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.prom_title h3{
   font-family: 'Noto Sans KR', sans-serif;
}
.promos{
   font-family: 'Noto Sans KR', sans-serif;
	background-color: #c2cac2;
	text-align: center;
	margin-top:-5px;
}
.promo__img{
   font-family: 'Noto Sans KR', sans-serif;
	position: relative;
	float:left;
	justify-content:space-between;
}	
.promos img{	
	border-radius:10%;
}
.promo__titulo{
	margin-top: 20px; 
	padding: 0;
   font-family: 'Noto Sans KR', sans-serif;
}

.promo_text h3{
	font-family: 'Abril Fatface', cursive;
}

.promo_text{
	background-color:#FADBD8;
	margin:auto;
	position: relative;
   font-family: 'Noto Sans KR', sans-serif;
	justify-content:space-between;
	border-radius:10%;
	font-size: 16px;
	width:70%;
}
#panel{
	display: none;
}
#panel1{
	display: none;
}
#panel2{
	display: none;
}
#panel3{
	display: none;
}
#panel4{
	display: none;
}
#panel5{
	display: none;
}

/*-----FOOTER-----*/
footer{
	font-family:sans-serif;
    width: 100%;
    background: #202020;
    color: white;   
}

.container-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: block;
    justify-content: space-between;
}
.container-body h1{
	 margin-top: 15px;
}

.columna1{
    max-width: 400px;
}

.columna1 h1{
    font-size: 22px;
}

.columna1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.columna2{
    max-width: 400px;
    
}

.columna2 h1{
    font-size: 22px;
}

.icon{
    margin-top: 10px;
    display: flex;
}

.icon img{
    width: 36px;
    height: 50px;
}

.icon label{
    margin-top: 20px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.contacto img{
    width: 36px;
    height: 50px;
}

.contacto label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}
/*-----RESPONSIVE-----*/
@media(min-width:80px){
	.contenedor .banner__titulo{
		font-size: 24px;
		font-family: 'Aclonica', sans-serif;
	}
}
@media(min-width:480px){
	.contenedor .banner__titulo{
		font-size: 44px;
		font-family: 'Aclonica', sans-serif;
	}
	.promo__columna{
		width: 30%;
	}
	.promos .contenedor{
		display: flex;
		justify-content: space-between;
	}
	.promos h1{
		font-size: 40px;
	}
	.promos h2{
		font-size: 30px;
	}
	.container-body{
    display: flex;
    justify-content: space-between;
	}
	.conteiner-all{
		 width: 100%;
		 margin: auto;
		 padding: 40px;
	}
}		
@media(min-width:1024px){
	.nav {
		position: static;
		width: auto;
	}
	.menu {
		display: flex;
	}
	.icon-menu {
		display: none;
	}
	.menu__link{
		border: none;
	}
	.banner .contenedor .banner__titulo{
		font-size: 60px;
		font-family: 'Aclonica', sans-serif;  
	}
	.contenedor{
		width:1000px;
	}
}

@media(min-width:1280px){
	.contenedor{
		width: 1200px;
	}
	.banner .contenedor .banner__titulo{
		font-size: 120px;
		font-family: 'Aclonica', sans-serif;
	}
}